#Stage B Hamoye

In [76]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [77]:
f = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
df = pd.read_csv(f)
df.head(5)

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [78]:
feat = df.drop(columns = ['date', 'lights'])
feat.head(5)

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [79]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split

scaler = MinMaxScaler()
ndf = pd.DataFrame (scaler.fit_transform(feat),columns = feat.columns)

features = ndf.drop(columns=['Appliances'])
target = ndf['Appliances']

In [55]:
X = ndf[['T2']]
y = ndf[['T6']]

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
lre = LinearRegression()
lre.fit(x_train, y_train)
y_pred = lre.predict(x_test)

In [86]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, y_pred)
print('Rsquared value upto two decimal places is',round(r2_score, 2) )

Rsquared value upto two decimal places is -13.58

In [82]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)

In [83]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted = linear_model.predict(x_test)

In [85]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted)
print('The Mean Absolute Error upto two decimal places is', round(mae, 2))

The Mean Absolute Error upto two decimal places is 0.05

In [87]:
rss = np.sum(np.square(y_test - predicted))
print('The Residual Sum of Squares in two decimal places is', round(rss, 2))

The Residual Sum of Squares in two decimal places is 45.35

In [89]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted))
print('The Root Mean Squared Error in three decimal places is', round(rmse, 3))

The Root Mean Squared Error in three decimal places is 0.088

In [90]:
from sklearn.metrics import  r2_score
R2_score = r2_score(y_test, predicted)
print('The Coefficient of Determination (in two decimal places) is', round(R2_score, 2))

The Coefficient of Determination (in two decimal places) is 0.15

In [91]:
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_df = get_weights_df(linear_model, x_train, 'Linear_Model_Weights')

linear_model_df

       Features  Linear_Model_Weights
0          RH_2             -0.456698
1         T_out             -0.321860
2            T2             -0.236178
3            T9             -0.189941
4          RH_8             -0.157595
5        RH_out             -0.077671
6          RH_7             -0.044614
7          RH_9             -0.039800
8            T5             -0.015657
9            T1             -0.003281
10          rv1              0.000770
11          rv2              0.000770
12  Press_mm_hg              0.006839
13           T7              0.010319
14   Visibility              0.012307
15         RH_5              0.016006
16         RH_4              0.026386
17           T4              0.028981
18    Windspeed              0.029183
19         RH_6              0.038049
20         RH_3              0.096048
21           T8              0.101995
22    Tdewpoint              0.117758
23           T6              0.236425
24           T3              0.290627
25         RH_1              0.553547

In [92]:
from sklearn.linear_model import Ridge
ridge = Ridge (alpha=0.4)
ridge.fit(x_train, y_train)
y_hat = ridge.predict(x_test)

In [93]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_hat))
print('The RMSE upto three decimal places for Ridge regression is', round(rmse, 3))

The RMSE upto three decimal places for Ridge regression is 0.088

In [94]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=0.001)
lasso.fit(x_train, y_train)
y_hat = lasso_reg.predict(x_test)

In [95]:
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name] = weights_df[col_name]
  return weights_df

lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
(lasso_weights_df['Lasso_weight']==0).value_counts()

True     22
False     4
Name: Lasso_weight, dtype: int64

In [96]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_hat))
print('The RMSE upto three decimal places for Lasso regression is', round(rmse, 3))

The RMSE upto three decimal places for Lasso regression is 0.094