In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
df = pd.read_csv(url,error_bad_lines=False)

In [4]:
df.describe (include = 'all')

                     record_id  ...  fuel_cost_per_mmbtu
count                    29523  ...         29523.000000
unique                   29523  ...                  NaN
top     f1_fuel_2008_12_41_0_2  ...                  NaN
freq                         1  ...                  NaN
mean                       NaN  ...            19.304354
std                        NaN  ...          2091.540939
min                        NaN  ...           -41.501000
25%                        NaN  ...             1.940000
50%                        NaN  ...             4.127000
75%                        NaN  ...             7.745000
max                        NaN  ...        359278.000000

[11 rows x 11 columns]

In [5]:
df.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [7]:
df.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [17]:
df.groupby('fuel_type_code_pudl').mean()['fuel_cost_per_unit_burned']

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [18]:
df.describe (include = 'all')['fuel_mmbtu_per_unit']

count     29523.000000
unique             NaN
top                NaN
freq               NaN
mean          8.492111
std          10.600220
min           0.000001
25%           1.024000
50%           5.762694
75%          17.006000
max         341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [22]:
df['fuel_qty_burned'].skew(axis = 0)

15.851495469109503

In [24]:
df['fuel_qty_burned'].kurtosis(axis = 0)

651.3694501337732

In [29]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [31]:
(df.isnull().sum()['fuel_unit']/df.shape[0]) * 100

0.609694136774718

In [33]:
df['fuel_unit'].unique()

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', nan, 'mwdth', 'mmbtu',
       'mwhth', 'gal'], dtype=object)

In [38]:
corr = df.corr()
corr['fuel_cost_per_unit_burned']

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [50]:
yeardf = df[df['fuel_type_code_pudl'] == 'coal'].groupby('report_year').mean()['fuel_cost_per_unit_burned']
diff = yeardf [1998] - yeardf[1994]
percent = (diff/yeardf[1994]) * 100
percent

-12.458551963280119

In [53]:
df.groupby('report_year').mean()['fuel_cost_per_unit_delivered']

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64